[Unit]
Description=Kanbanlache
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=laureano
ExecStart=/absolute/path/to/kanbanlache/launch_heroku_local.sh

[Install]
WantedBy=multi-user.target
