* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.App {
    background-color: #d4dadd;
    padding: 20px;
    min-height: 100vh;
}

.App h1 {
    margin-bottom: 20px;
    text-align: center;
}

.App button {
    background-color: #F1F3F4;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin-right: 5px;
    margin-bottom: 20px;
    transition: background-color 0.5s;
}

.App button:hover {
    background-color: hsl(270, 2%, 30%);
    cursor: pointer;
}
