* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Board {
    background-color: #F1F3F4;
    color: whitesmoke;
    padding: 20px;
    min-height: 80vh;
    border-radius: 15px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}
