* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Section {
    background-color: darkorange;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.Section h2 {
    color: black;
}

.TaskAdder textarea {
    margin-top: 10px;
    margin-right: 0px;
    width: 100%;
    height: 50px;
    resize: none;
    border-radius: 5px;
    padding: 8px;
}

.TaskAdder button {
    /* FIXME: Duplicated code (see Task.module.css) */
    display: inline-block;
    color: black;
    background-color: hsl(33, 100%, 50%);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    transition: background-color 0.5s;
}

.TaskAdder button:hover {
    background-color: hsl(33, 100%, 40%);
    cursor: pointer;
}

.TaskAdder button:focus {
    outline: 1px dashed hsl(33, 100%, 60%);
}

.AddTaskBtn {
    margin-bottom: 10px;
}
